<div class="topWrap" *ngIf="dataLoaded() && !isGameCompleted()" style="overflow-y: hidden;">
  <h3>Moves: {{moves}}</h3>
</div>

<div class="resultWrap" *ngIf="isGameCompleted()" style="overflow-y: hidden;">
  <h3>Congradulations, you won with only {{moves}} moves!!</h3>
  <button class="myBtn" (click)="startNewGame()"><h2>RESTART GAME</h2></button>

</div>

<div class="row" *ngIf="cards && !isGameCompleted()" style="overflow-y: hidden;">
  <div [class]="generateClass()" *ngFor="let card of cards">
    <card [card]="card" (click)="switchPosition(card)"></card>
  </div>
</div>