.btn-wrap {
    text-align: center;
    vertical-align: middle;
}

.myBtn {
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    font-size: 50px;   
    color: white;
    font-family: 'Lato', sans-serif;
    margin-top: 15%;
}    

.myBtn:hover {    
    color: lightgray;
}